extends ../templates/layouts/default

block content
    .container#mainContainer
        .row
            .col-md-12
                h2 About the App
                hr
                P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor dolorum quidem voluptatem voluptates. Delectus dolorem eum, excepturi fugit impedit incidunt minima nobis odio officiis omnis porro quidem rerum ut.
                P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor dolorum quidem voluptatem voluptates. Delectus dolorem eum, excepturi fugit impedit incidunt minima nobis odio officiis omnis porro quidem rerum ut.
                P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor dolorum quidem voluptatem voluptates. Delectus dolorem eum, excepturi fugit impedit incidunt minima nobis odio officiis omnis porro quidem rerum ut.
