extends ../templates/layouts/default

block title
    | Home

block content
    .container#mainContainer
        .row
            .col-md-12
                img.node-logo.center-block(src='/assets/images/nodejs_256x256.png')
                h2.text-center
                    | NodeJs Express App
