nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header.position-relative
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='#') EA
        form.search-control
            .form-group(style='margin-right:0px')
                input.form-control(type='text', placeholder='Search')
            button.btn.btn-primary(type='submit')
                span.glyphicon.glyphicon-search
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
            li.active
                a(href='#') Home
            li
                a(href='#') About
        ul.nav.navbar-nav.navbar-right
            li.active
                a(href='#') Login
            li
                a(href='#') Register
        //
        //If the user is authenticated
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    span Hello
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-user
                            span &nbsp; Account
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-log-out
                            span &nbsp;Login

        form.navbar-form.navbar-right(role='search')
            .form-group(style='margin-right:0px')
                input.form-control(type='text', placeholder='Search')
            button.btn.btn-primary(type='submit') Search
    // /.navbar-collapse
